<div id="nav">
    <%= link_to "Edit Profile", edit_admin_employee_path(current_user.id) %>
</div>

<p id="notice"><%= notice %></p>

<h1>Listing Admin Employees</h1>

<div class="container-fluid">
  <div class="row-fluid">
      <div class="pull-right"><%= link_to 'New Employee', new_admin_employee_path, :class => 'btn btn-primary block-right' %></div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
          <div class="row text-center">

            <table class="table table-hover">
  <thead>
    <tr>
      <th class="text-center"scope="row">Last name</th>
      <th class="text-center">First name</th>
      <th class="text-center">Organization</th>
      <th class="text-center">Phone</th>
      <th class="text-center">Email</th>
      <th class="text-center">Id number</th>
      <th class="text-center" colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table table-hover">
    <% @employees.each do |employee| %>
      <tr>
        <td class="text-center" scope="row"><%= employee.last_name %></td>
        <td class="text-center"><%= employee.first_name %></td>
        <td class="text-center"><%= employee.organization %></td>
        <td class="text-center"><%= employee.phone %></td>
        <td class="text-center"><%= employee.email %></td>
        <td class="text-center"><%= employee.id_number %></td>
        <td class="text-center"><%= link_to 'Show', admin_employee %></td>
        <td class="text-center"><%= link_to 'Edit', edit_admin_employee_path(admin_employee) %></td>
        <td class="text-center"><%= link_to 'Destroy', admin_employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>

<%= link_to 'New Employee', new_admin_employee_path %>
