<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @admin_employee.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @admin_employee.first_name %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @admin_employee.organization %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @admin_employee.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_employee.email %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @admin_employee.id_number %>
</p>

<%= link_to 'Edit', edit_admin_employee_path(@admin_employee) %> |
<%= link_to 'Back', admin_employees_path %>
