<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row top-buffer">
    <div class="col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
          </div>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @organization.adress %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @organization.zip_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @organization.city %>
</p>

<p>
  <strong>Parent organization:</strong>
  <%= @organization.parent_organization %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
